layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar" {
              tooltip "F1"
            }
        }
    }
    tab name="Project" split_direction="vertical" {
        pane command="nvim"
        pane split_direction="horizontal" size="30%" {
            pane command="cargo" {
                args "check"
                start_suspended true
            }
            pane command="cargo" {
                args "run"
                start_suspended true
            }
            pane command="cargo" {
                args "test"
                start_suspended true
            }
        }
    }
    tab name="Git" {
        pane command="lazygit"
    }
}
